@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-sans: Nunito Sans, Nunito Sans Fallback;
		/* --font-mono: hsl(here if you got it... */

		/* prefixed with foreground because it should look good on the background */
		--foreground-danger: hsl(345 82.7% 40.8%);

		--background: hsl(0 0% 100%);
		--foreground: hsl(222.2 84% 4.9%);

		--muted: hsl(210 40% 96.1%);
		--muted-foreground: hsl(215.4 16.3% 46.9%);

		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(222.2 84% 4.9%);

		--card: hsl(0 0% 100%);
		--card-foreground: hsl(222.2 84% 4.9%);

		--border: hsl(214.3 31.8% 91.4%);
		--input: hsl(214.3 31.8% 91.4%);
		--input-invalid: hsl(0 84.2% 60.2%);

		--primary: hsl(222.2 47.4% 11.2%);
		--primary-foreground: hsl(210 40% 98%);

		--secondary: hsl(210 40% 96.1%);
		--secondary-foreground: hsl(222.2 47.4% 11.2%);

		--accent: hsl(210 40% 90%);
		--accent-foreground: hsl(222.2 47.4% 11.2%);

		--destructive: hsl(0 84.2% 60.2%);
		--destructive-foreground: hsl(210 40% 98%);

		--ring: hsl(215 20.2% 65.1%);

		--radius: 0.5rem;
	}

	.dark {
		--background: hsl(222.2 84% 4.9%);
		--foreground: hsl(210 40% 98%);

		/* prefixed with foreground because it should look good on the background */
		--foreground-danger: hsl(-4 84% 60%);

		--muted: hsl(217.2 32.6% 17.5%);
		--muted-foreground: hsl(215 20.2% 65.1%);

		--popover: hsl(222.2 84% 4.9%);
		--popover-foreground: hsl(210 40% 98%);

		--card: hsl(222.2 84% 4.9%);
		--card-foreground: hsl(210 40% 98%);

		--border: hsl(217.2 32.6% 17.5%);
		--input: hsl(217.2 32.6% 17.5%);
		--input-invalid: hsl(0 62.8% 30.6%);

		--primary: hsl(210 40% 98%);
		--primary-foreground: hsl(222.2 47.4% 11.2%);

		--secondary: hsl(217.2 32.6% 17.5%);
		--secondary-foreground: hsl(210 40% 98%);

		--accent: hsl(217.2 32.6% 10%);
		--accent-foreground: hsl(210 40% 98%);

		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(0 85.7% 97.3%);

		--ring: hsl(217.2 32.6% 17.5%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
