node_modules

/build
/public/build
.env

/prisma/data.db
/prisma/data.db-journal
/prisma/test

*.local.*
/test-results/
/playwright-report/
/playwright/.cache/
/mocks/fixtures/email/*.json
/coverage
/prisma/data.db.bkp

prisma/test
other/cache.db

server-build