node_modules

/build
/public/build
.env

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/*.json
/coverage
/prisma/migrations
/prisma/sql
/app/generated/prisma
.pi
.pi-lens

package-lock.json
.cursor
