node_modules

/build
/public/build
/server-build
.env
.env.*

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/*.json
/coverage
/prisma/migrations
/types/env-vars.d.ts

package-lock.json
